#d2{
    width: 100px;
    height: 100px;
    background-color: red;
    background-image: url(icons.jpg);
    background-size: 700px 700px;
    /* 设置背景图片位置的 x y 
    元素不动  背景图动*/
    background-position: 100px 700px;
}