#tit {
  color: red;
}
#list {
  padding: 0;
  background-color: red;
}
#list li {
  color: aquamarine;
}
#t3 {
  text-align: center;
  color: grey;
  font-family: 仿宋;
}
.line {
  color: grey;
  font-family: 仿宋;
}
#p1 {
  background-color: yellow;
}
#p2 {
  background-color: #999900;
}
#pic {
  width: 300px;
  height: 300px;
  background-image: url("sun.png");
  background-size: image-size;
  background-repeat: no-repeat;
}
